body{
    margin: 0;
    padding:800px;
    padding-top: 800px;
    text-align: center;
    
}
#welcome{
    position: absolute;
    bottom:0px;
    background-color: linear-gradiant(white 0%, green 100%);
    display:table;
    height:100%;
    width:100%;
}
h1{
    font-size: 40px;
    font-weight: 300px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#name{
    font-size: 30px;
    font-weight: 300px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#bio{
    font-family: 'Merriweather', serif;
font-family: 'Source Serif Pro', serif;
    padding:50px;
}
.line{
    height:6px;
    background-color: black;
    width: 70px;
    margin:8px auto;
}
.parallax-inner{
    display: table-cell;
    vertical-align: middle;
}
.menu{
 position:fixed;
 background:white;
 width: 100%;
 top:0px;
 margin-top:0px;
 z-index:45;
 cursor:pointer;
}
.links{
    display:inline;
        padding-left:33px;
    padding-right:25px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}
.links:hover{
    font-size: 25px;
    text-decoration:underline;
}
#writings a{
    text-decoration:underline !important;
    color: green !important;
}
#contact{
    background:light-green;
}
